{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <nav class="navbar container">
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Solicitudes</a>
            </li>
            <li><a href="">Asignar</a></li>
            <li><a href="">Crear usuario</a></li>
        </ul>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>

</html>